<ion-navbar *navbar>
  <ion-title>Assignments</ion-title>
</ion-navbar>

<ion-content class="assignments">

  <ion-card *ngIf="!nurses[0]">
    <ion-card-content>
      <p>Here nurses will be assigned to patients in an effort to equally distribute load (based on acuity). Click (+) to add a nurse, and patients will be automatically distributed.</p>
      <p>Note: we're working on manual assignment (with visual help); follow <a href="https://github.com/driftyco/ionic/issues/5595" target="_blank">this issue</a>.</p>
    </ion-card-content>
  </ion-card>

  <ion-item *ngIf='adding'>
    <ion-label floating>Nurse's Name</ion-label>
    <ion-input type="text" #name autofocus></ion-input>

    <button outline item-right (click)="add(name.value)">Add</button>
    <button outline item-right (click)="adding = false">Cancel</button>
  </ion-item>

  <ion-item-group *ngFor="#nurse of nurses; #i=index">
    <ion-item-divider (click)="nurse.editing=true" *ngIf="!nurse.editing">
      {{nurse.name}}
    </ion-item-divider>

    <ion-item *ngIf='nurse.editing'>
      <ion-label floating>Nurse's Name</ion-label>
      <ion-input type="text" #editName value="{{nurse.name}}" autofocus></ion-input>

      <button outline item-right (click)="save(nurse, editName.value)">Add</button>
      <button outline item-right (click)="nurse.editing = false">Cancel</button>
      <button outline item-right (click)="remove(i)">Delete</button>
    </ion-item>


    <ion-item *ngFor="#patient of nurse.patients">
      <h2>Room #{{patient.room}}</h2>
      <p>Score: {{patient.score}}</p>
    </ion-item>

  </ion-item-group>


  <button fab fab-bottom fab-right (click)="adding = true" *ngIf="!adding">
    <ion-icon name="add"></ion-icon>
  </button>

</ion-content>
